[submodule "engine"]
	path = engine
	url = https://github.com/nustxujun/hermitcrab.git
[submodule "RemoteRender"]
	path = RemoteRender
	url = https://github.com/nustxujun/midofactiniaria.git
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp.git
[submodule "DirectXTK12"]
	path = DirectXTK12
	url = https://github.com/microsoft/DirectXTK12.git
[submodule "DirectXMath"]
	path = DirectXMath
	url = https://github.com/microsoft/DirectXMath
[submodule "external/sol2"]
	path = external/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "external/LRDB"]
	path = external/LRDB
	url = https://github.com/satoren/LRDB.git
